---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Shuhey Koyama / 小山 修平</title>
	</head>
	<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>Shuhey Koyama / 小山 修平</h1>
		<h1>About Me</h1>
    <h2>... And about my new Astro site!</h2>

    <p>I'm working on an introductory tutorial for Astro. This is the second page on my website and the first page I have created myself!</p>

    <p>This site will be updated as I progress through the tutorials. Please check back regularly to see how my journey is going!</p>
	</body>
</html>
